.modal {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 660px;

  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 680px) {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    transform: none;
    width: auto;
  }
}
.modal__header,
.modal__footer {
  height: 90px;
  padding: 10px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
}

.modal__content {
  padding: 40px;

  font-size: 16px;
  line-height: 1.5;

  //   Добавление скрола при увелечение контента
  overflow-y: auto;
}

.modal__content p + p {
  margin-top: 1em;
}
